[user]
  name = Joaquim Torres
  email = quimrstorres@gmail.com
[alias]
  s = status -s
  ci = commit
  co = checkout
  br = branch
  unstage = reset HEAD
  ustg = reset HEAD
  filelog = log -u
  fl = log -u
  please = push --force-with-lease
  amend = commit --amend --no-edit
  it = !git init && git commit -m “Root” --allow-empty
  grog = log --graph --abbrev-commit --decorate --all --format=format:\"%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(dim white) - %an%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n %C(white)%s%C(reset)\"
  stun = stash save --include-untracked
  stall = stash save --all
	dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFX; }; f"
[color]
  diff = auto
  status = auto
  branch = auto
  ui = true
[core]
  excludesfile = ~/.gitignore
  editor = vim

[pull]
  ff = only

[push]
  default = tracking

[sendemail]
  smtpEncryption = tls
  smtpServer = smtp.gmail.com
  smtpUser = quimrstorres@gmail.com
  smtpServerPort = 587

[include]
  path = ~/.gitconfig.private


