source ~/.vimrc

" Make the editor wait less for the fd (replacement for ESC) sequence to finish
set timeoutlen=1000

set incsearch
set surround

noremap <Space>wh <C-w>h
noremap <Space>wj <C-w>j
noremap <Space>wk <C-w>k
noremap <Space>wl <C-w>l

" GitHub
nnoremap <Space>gll :action Github.Open.In.Browser<CR>
vnoremap <Space>gll :action Github.Open.In.Browser<CR>

nnoremap <C-o> :action Back<CR>
nnoremap <C-i> :action Forward<CR>
nnoremap <Space>/ :action FindInPath<CR>
nnoremap <Space>pf  :action GotoFile<CR>
nnoremap <Space>ph  :action GotoFile<CR>
nnoremap <Space>wv  :action SplitVertically<CR>
nnoremap <Space>ws  :action SplitHorizontally<CR>
nnoremap <Space>wd  :action Unsplit<CR>
nnoremap <Space>:  :action GotoAction<CR>

nnoremap <Space>mgg :action GotoDeclaration<CR>
nnoremap <Space>mgt :action GotoTest<CR>

" Refactoring
"" Rename symbol
nnoremap <Space>mrr :action RenameElement<CR>
nnoremap <Space>mri :action OptimizeImports<CR>

" Formatting
nnoremap <Space>m== :action ReformatCode<CR>

" REPL
nnoremap <leader>si :action Scala.RunConsole<CR>
nnoremap <leader>er :action Scala.SendSelectionToConsole<CR>

" Build
nnoremap <Space>mc :action Compile<CR>

" User commands
nnoremap <Space>or :action Run<CR>
nnoremap <Space>oc :action GotoClass<CR>
nnoremap <Space>of :action ProblemsView.QuickFixes<CR>

